/* CSS */

html, body{
	width: 100%; height: 100%;
}

.navbar-brand img{
	width: 28px; height: auto;
	margin: 0px 5px; padding: 0px;
	border-radius: 14px;
}
main h2{
	margin: 10px 0 150px 0;
	height: 50px;
}
button{
	width: 10em;
	height: 3em;
}

	
